# ======================================================
#       1. PYTHON ENVIRONMENT & BUILD ARTIFACT(S)
# ======================================================
# Ignore the common legacy/IDE virtual environment name(s)
.venv/

# Ignore Python cache, bytecode, and IDE folder(s)
__pycache__/
*/__pycache__/
*.pyc

# Python testing artifact(s)
.pytest_cache/
*/.pytest_cache/

# Build and distribution folder(s) for .exe creation
/build/
/dist/

# MkDocs build directory
site/

# ======================================================
#  2. APPLICATION RUNTIME DATA (Generated & Sensitive)
# ======================================================
# Ignores all folder(s) created by the application at runtime
/USER/

# Ignores any temporary downloaded file(s)
/downloaded_files/

#Ignores any .csv file(s)
*.csv

#Ignores any .db file(s)
*.db

# ======================================================
#             3. SECRETS & CONFIG TEMPLATE(S)
# ======================================================
CORE/__RESOURCES/secrets.json
